*{
    margin:0;
    padding:0;
}

#editWarp{
    margin:30px;
    width:700px;
    min-height:200px;
    // border:1px solid #ccc;
}
    
.simple-editor-wrap{
    width:100%;
    border:1px solid rgb(214, 214, 214);
    div,span,ul,li,a,i,button,p{
        margin:0;
        padding:0;
        box-sizing: border-box;
        text-decoration: none;
    }
    .simple-editor-header{
       width:100%;
       min-height:40px;
       padding:0px 4px;
       border-bottom:1px solid rgb(224, 224, 224);
       background:rgb(243, 243, 243);
       ul li{
         list-style: none;
       }
       .simple-editor-ul{
             width:100%;
             display:flex;
             flex-wrap: wrap;
             >li{
                position: relative;
                width:40px;
                height:40px;
                margin:2px 0;
                .editor-a-btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width:40px;
                    height:40px;
                    text-align: center;
                    cursor: pointer;
                    i{
                        color:rgb(128, 128, 128);
                    }
                    
                }
                .active{
                    background:rgb(206, 206, 206);
                    i{
                        color:rgb(12, 12, 12);
                    }
                }
                &:hover{
                    background:rgb(233, 233, 233);
                    .editor-a-btn{
                        i{
                            color:rgb(61, 61, 61);
                        }
                    }
                    
                }

                // h1-h6 标签
                .simple-editor-ul-h{
                    display: none;
                    position: absolute;
                    z-index: 999;
                    top:38px;
                    left:-20px;
                    width:80px;
                    background:#fff;
                    border:1px solid rgb(214, 214, 214);
                    li{
                        width:100%;
                        a{
                            display: block;
                            text-align: center;
                            padding:4px;
                            color:#333;
                        }
                        &:hover{
                            background:rgb(233, 233, 233);
                            a{
                               color:rgb(61, 61, 61);
                            }
                            
                        }
                        &:nth-of-type(1){
                            a{
                                padding:10px;
                                font-size:16px;
                            }
                        }
                    }
                }
             }
             
            
       }
       
    }
    .simple-editor-body{
       outline: none;
       min-height: 100px;
       margin-top:10px;
       padding:10px;
       div,span,ul,li,a,i,button,p{
        margin:0;
        padding:0;
        box-sizing: border-box;
        text-decoration: none;
       }
       ul,ol{
         margin-left: 30px;
       }
       blockquote{
           border-left:4px solid #ccc;
           margin:10px 0;
           padding-left:16px;
       }
      
    }
}